---
import PrinterButton from "./PrinterButton.astro";
import ToggleThemeButton from "./ToggleThemeButton.astro";
import ToggleLanguaje from "./ToggleLanguajeButton.astro";
---

<nav class="flex justify-end p-2 md:p-4">
  <div class="flex flex-col gap-2">
    <ToggleThemeButton />
    <PrinterButton />
    <ToggleLanguaje />
  </div>
</nav>
