---
import Triangle from "./Triangle.astro";
const { icon } = Astro.props;
---

<div class="flex flex-col mb-2 px-0">
  <div class="bg-amber-300/70 dark:bg-sky-900 rounded-xl px-3 py-2">
    <h1 class="text-xl font-bold text-black dark:text-white">
      <span
        class="[text-shadow:_4px_3px_5px_#5f5f5f] dark:[text-shadow:_4px_3px_5px_#989898] mr-2"
      >
        {icon}
      </span>
      <slot />
    </h1>
  </div>
  <Triangle color="amber-300/70" colorDark="sky-900" />
</div>
