---
import Printer from "src/icons/printer.astro";
---

<button
  onclick="window.print()"
  class="scale-90 hover:scale-110 transition-all"
  id=""
>
  <span class="text-black dark:text-white transition-all"><Printer /> </span>
</button>
